<div class="container">
    <div class="row" *ngIf="isValidStudent">
        <div class="card" style="width: 100rem;">
            <div class="card-header">
                Featured
            </div>
            <div class="card-body">
                <form  [formGroup]="emailForm" id="contact-form" method="post" action="contact.php" role="form">

                    <div class="messages"></div>

                    <div class="controls">

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="class_id">Class Group *</label>
                                    <select formControlName="class_id" id="class_id" class="form-control">
                                        <option selected>Choose...</option>
                                        <ng-container *ngFor="let item of allClassGroups">
                                            <option [ngValue]="item">{{item.name}}</option>
                                        </ng-container>
                                      </select>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="amount">Amount *</label>
                                    <input formControlName="total" id="amount" type="number" name="amount" class="form-control"
                                        placeholder="Please enter your amount *" required="required"
                                        data-error="Amount is required.">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                           
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="subject">Subject *</label>
                                    <input formControlName="subject" id="subject" type="text" name="subject" class="form-control"
                                        placeholder="Please enter your subject *" required="required"
                                        data-error="Valid subject is required.">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <!-- <div class="col-md-6">
                                <div class="form-group">
                                    <label for="form_phone"></label>
                                    <input id="form_phone" type="tel" name="phone" class="form-control"
                                        placeholder="Please enter your amount">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div> -->
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="description">Message * 

                                        <ul>
                                            <li><b>NodeJS</b>
                                              <ul>
                                                <li><h2><span (click)="setMessage('NodeJS online class - First payment')" class="message-text badge badge-primary">NodeJS Class - First Payment</span></h2></li>
                                                <li><h2><span (click)="setMessage('NodeJS online class - Final payment (Complete)')" class="message-text badge badge-success">NodeJS Class - Final Payment ((Complete))</span></h2></li>
                                              </ul>
                                            </li>
                                            <li><b>Angular</b>
                                                <ul>
                                                    <li><h2><span  (click)="setMessage('Angular online class - First payment')" class="message-text badge badge-primary">Angular Class - First Payment</span></h2></li>
                                                    <li><h2><span (click)="setMessage('Angular online class - Final payment (Complete)')"  class="message-text badge badge-success">Angular Class - Final Payment ((Complete))</span></h2></li>
                                                </ul>
                                              </li>

                                          </ul>
                                          <button type="button" (click)="resetMessage()" class="btn btn-warning">Reset</button>
                                    </label>
                                    <textarea  formControlName="description" id="description" name="description" class="form-control"
                                        placeholder="Description *" rows="4" required="required"
                                        data-error="Please,leave  a description."></textarea>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-md-12">

                                <button [disabled]="!emailForm.valid"  (click)="sendEmailConfirm()" type="button" class="btn btn-success mr-2">
                                   Send Email <i class="fa fa-envelope" aria-hidden="true"></i>
                                  </button>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
          <div class="card" style="width: 100rem;">
            <div class="card-header">
                <div class="container">
                  <div class="col-md-4">
                    <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search Here">
                  </div>
                </div>
              </div>
            <div class="card-body">
              <table class="table-responsive table-striped">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Recipt ID</th>
                    <th scope="col">Class Group</th>
                    <th scope="col">Price</th>
                    <th scope="col">Date</th>
                    <th scope="col">Student Name</th>
                    <th scope="col">Email</th>
                    <!-- <th scope="col">Action</th> -->
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of allPaymentDetails | filterPaymentEmailPipe: searchText">
                    <td>{{item.recipt_id}}</td>
                    <td>{{item.class_id.group_id}}</td>
                    <td>{{item.price}}</td>
                    <td>{{item.date}}</td>
                    <td>{{item.student_id.name}}</td>
                    <td>{{item.student_id.email}}</td>
                    <!-- <td>
                      <button type="button" class="btn btn-success mr-2"><i
                          class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                    </td> -->
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
</div>