<nav class="navbar fixed navbar-expand-lg navbar-dark bg-dark">
  <a href="index.html">
    <img class="navbar-brand text-dark display-4" src="assets/logo.png" alt="">
  </a>
  <div class="ml-5 collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" routerLink="about-us" [routerLinkActive]="['active']">About Us <span
            class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" routerLink="classes" [routerLinkActive]="['active']">Classes <span
            class="sr-only"></span></a>
      </li>
      <!-- <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" routerLink="content" [routerLinkActive]="['active']">Content<span
            class="sr-only"></span></a>
      </li> -->
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" routerLink="register-me" [routerLinkActive]="['active']">Register Me<span
            class="sr-only"></span></a>
      </li>

    </ul>

  </div>

    <!-- <form class="form-inline mr-5">
      <div ngbDropdown class="d-inline-block mr-5">
        <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Toggle dropdown</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem>Action - 1</button>
          <button ngbDropdownItem>Another Action</button>
          <button ngbDropdownItem>Something else is here</button>
        </div>
      </div>
    </form> -->

</nav>