.navbar-brand {
    width: 160px;
    font-size: 24px;
  }
  .navbar-brand img {
    height: 75px !important;
    /* put value of image height as your need */
    float: left;
    margin-right: 7px;
  }

.navbar-nav > .active{
    color: #000;
    background: #333333;
}
.btn-outline-success {
    color: #05ff3e !important;
    border-color: #00ff3a !important;
}