<!-- <div class="container">
  <div class="wrapper">
    <h1>{{currentClass?.name}} Content</h1>
    <ul class="sessions">
      <ng-container *ngFor="let item of currentClass?.content">
        <li>
          <div class="time" (click)="handleCollaps(item)"><b>{{item.topic}}</b></div>
          <ng-container  *ngIf="item?.expand">
            <ng-container  *ngFor="let sub of item.sup_topics; let i = index;">
              <p   >{{i+1}}.{{sub}}</p>
            </ng-container>
          </ng-container>
         
        </li>
      </ng-container>
    </ul>
  </div>
</div> -->
<div class="container">
  <div class="row justify-content-md-center">
    <h1>{{currentClass?.name}} Content</h1>
</div>
<div class="row justify-content-md-center" *ngIf="currentClass?.language && currentClass?.language.length>0">
    <ng-container *ngFor="let tag of getTags(currentClass?.language)">
      <span class="badge badge-primary">{{tag}}</span>
  </ng-container>
</div>
</div>

<div class="container mt-4">
  <div class="row justify-content-md-center">

    <div class="col-md-10">
      

        <expandable-list>
          <ng-container *ngFor="let item of currentClass?.content">
            <expandable-list-item [isExpanded]="true">
              <span title >{{item.topic}}</span>
                <a item *ngFor="let sub of item?.sup_topics; let i = index;" >{{i+1}}.{{sub}}</a>
            </expandable-list-item>
          </ng-container>
          
        </expandable-list>
      
    </div>
  </div>
</div>

