hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }

  

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.list--ordered {

  counter-reset: list-counter;
.list__item {
  background-image: linear-gradient(180deg, #ddd 0%, #ddd 100%);
  background-repeat: no-repeat;
  background-size: 2px 100%;
  background-position: 1rem center;
  display: block;
  min-height: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 3rem;
  position: relative;
  &::before {
    background: #0082d5;
    background: linear-gradient(180deg, #0082d5 0%, #a234d5 50%, #d74059 100%);
    background-repeat: no-repeat;
    background-size: 2rem 20rem;
    border-radius: 50%;
    color: white;
    content: counter(list-counter);
    counter-increment: list-counter;
    display: block;
    height: 2rem;
    left: 0;
    line-height: 2;
    position: absolute;
    text-align: center;
    width: 2rem;
  }
}
}

.bottom-pannel{
  background-color: #c6c9ff !important;
    border-color: #c6c9ff !important;
}

table {
  display: flex !important;
  flex-flow: column !important;
  width: 100% !important;

}

thead {
  flex: 0 0 auto !important;;
}

tbody {
  flex: 1 1 auto !important;;
  display: block !important;;
  height: 1000px;
  overflow: scroll;
}

tr {
  width: 100% !important;;
  display: table !important;;
  table-layout: fixed !important;;
}