<form [formGroup]="classForm">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputClassId">Class ID</label>
      <input formControlName="classId" type="text" class="form-control" id="inputClassId">
    </div>
    <div class="form-group col-md-6">
      <label for="inputClassId">Image</label>
      <input formControlName="img" type="text" class="form-control" id="inputClassImg">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputClassName">Class Name</label>
      <input formControlName="className" type="text" class="form-control" id="inputClassName">
    </div>
    <div class="form-group col-md-6">
      <label for="inputLanguage">Language</label>
      <input formControlName="language" type="text" class="form-control" id="inputLanguage">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputDuration">Duration Per Day (Hrs)</label>
      <input formControlName="duaration" type="number" class="form-control" id="inputDuration">
    </div>
    <div class="form-group col-md-4">
      <label for="inputWeeks">Number Of Days</label>
      <input formControlName="weeks" type="number" class="form-control" id="inputWeeks">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="inputDescription">Class Card Description</label>
      <textarea formControlName="description" class="form-control" rows="4" id="inputDescription"></textarea>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-1 mr-2" *ngIf="!isEditMode">
        <button [disabled]="!classForm.valid" (click)="addClasses()" class="btn btn-primary">Register</button>
      </div>
      <div class="col-md-2 mr-2" *ngIf="isEditMode">
        <button [disabled]="!classForm.valid" (click)="updateChagesConfirm()" class="btn btn-primary">Save All
          Changes</button>
      </div>
      <div class="col-md-1 ml-2" *ngIf="isEditMode">
        <button (click)="cancel()" class="btn btn-secondary">Cancel</button>
      </div>

    </div>
  </div>
</form>

<div class="row mt-4">
  <div class="card" style="width: 100rem;">
    <div class="card-body">
      <table class="table-responsive table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Class ID</th>
            <th scope="col">Language</th>
            <th scope="col">Duration</th>
            <th scope="col">Number Of Weeks</th>
            <th scope="col">Action</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of allClass ; let i = index;">
            <td>{{item.name}}</td>
            <td>{{item.class_id}}</td>
            <td>{{item.language}}</td>
            <td> {{item.duration}}</td>
            <td>{{item.number_of_weeks}}</td>
            <td>
              <button (click)="editClass(item)" type="button" class="btn btn-success mr-2"><i
                  class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
              <button (click)="removeConfirm(item._id)" type="button" class="btn btn-danger"><i class="fa fa-trash"
                  aria-hidden="true"></i></button>
            </td>
            <td>
              <div class="custom-control custom-switch">
                <input (change)="changeActiveStatus($event,item)"  [checked]="item?.active"  type="checkbox" class="custom-control-input" id="customSwitch1{{i}}">
                <label  [style.color]="item?.active ? '#11bb1e':''" class="custom-control-label" for="customSwitch1{{i}}">
                 <b>{{item?.active ? 'Active':'Inactive'}}</b> 
                </label>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<ng-container *ngIf="isEditMode">
  <div class="container" >
    <div class="row mt-4">
      <div class="col-md-7">
        <div class="card">
          <div class="card-body">
            <div class="card" style="width: 28rem;">
              <button *ngIf="isContentEditMode"  type="button" class="btn btn-primary">
                Content Item Number <span class="badge badge-light">{{currentEditIndex+1}}</span>
              </button>
              <div class="card-header justify-content-between align-items-center">
               <div class="container">
                 <div class="row">
                   <div class="col-md-12">
                    <input [(ngModel)]="currentTopic" type="text" class="form-control" aria-label="Default">
                   
                   </div>
                   
                 </div>
               </div>
              </div>
      
              <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  <div class="container">
                    <div class="row">
                      <div class="col-md-10">
                        {{currentEditIndexOfSubItem}}
                        <textarea [(ngModel)]="currentSubTopic" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                      </div>
                      <div class="col-md-2">
                        <button *ngIf="!currentEditIndex" (click)="addSubTopic()" type="button" class="btn btn-success mr-2"><i class="fa fa-plus" aria-hidden="true"></i>
                        </button>
                        <button *ngIf="currentEditIndex" (click)="saveEditModeSubTopic()" type="button" class="btn btn-success mr-2"><i class="fa fa-save" aria-hidden="true"></i>
                        </button>
                      </div>
                    </div>
                  </div>
      
                </li>
                <ng-container *ngFor="let currentSubContentItem of currentClassContentData.sup_topics; let i=index">
                  <li class="list-group-item d-flex justify-content-between ">
      
                    <label for="">{{i+1}}. {{currentSubContentItem}}</label>
              
                    
                      <button (click)="editModeCurrentSubTopic(currentSubContentItem,i+1)" type="button" class="btn btn-warning mr-2"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                      </button>
          
                      <button (click)="removeSubTopic(currentSubContentItem)" type="button" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i>
                      </button>
                  
        
                  </li>
                </ng-container>
                
      
                <li class="list-group-item d-flex justify-content-between  bottom-pannel">
      
                  <button type="button" (click)="resetCurrentForm()" class="btn btn-light mr-2"><i class="fa fa-refresh" aria-hidden="true"></i>
                  </button>
                  <button *ngIf="!isContentEditMode" (click)="addFullTopicWithSubTopics()"  type="button" class="btn btn-success">
                   Add this
                    
                  </button>
      
                  <button *ngIf="isContentEditMode" (click)="saveEditModeContenItem()" type="button" class="btn btn-success">
                    Save This
                  </button>
      
                </li>
              </ul>
            </div>
          </div>
          
        </div>
      </div>
      <div class="col-md-5 mt-4">
        <button (click)="updateChagesContentConfirm()" type="button" class="btn btn-primary btn-lg">Save Content</button>
      </div>
      
    </div>
    </div>
    <hr />
    
    <div class="container">
      <div class="row">
        <div class="card text-white bg-secondary" >
          <h3 *ngIf="0 >= allContentClassData.length"> &nbsp;&nbsp; No Content to display &nbsp;&nbsp;</h3>
          <div class="card-body" *ngIf="allContentClassData && allContentClassData.length>0">
            <ol class="list list--ordered">
              <ng-container *ngFor="let content of allContentClassData; let i = index;">
                <li class="list__item">{{content.topic}}
                  &nbsp;   &nbsp;
                  <span (click)="editTopic(content,i)" class="badge badge-warning">
                    <i  class="fa fa-2x fa-pencil" aria-hidden="true"></i>
                  </span>
                  &nbsp;
                  <span (click)="removeContentItemConfirm(i)" class="badge badge-danger">
                    <i  class="danger fa-2x fa fa-trash" aria-hidden="true"></i>
                  </span>

                  
                  
                  <ol class="mt-1">
                   <ng-container *ngFor="let subItem of content.sup_topics">
                    <li>{{subItem}}</li>
                   </ng-container>
                  </ol>
                </li>
              </ng-container>
              
            </ol>
    
    
          </div>
        </div>
    
      </div>
    </div>
</ng-container>
