.paddingTB60 {
  padding-top:60px;
  padding-bottom:60px;
}
.bgcolor-skyblue {
  background:#eaf0f9;
}

.image-aboutus-banner {
  background: linear-gradient(rgb(201 220 195 / 70%), rgb(0 0 0 / 70%)), url("https://wallpaperaccess.com/full/3124541.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #fff;
  padding-top: 110px;
  padding-bottom:110px;
}

.image-aboutus-sm-banner {
  background: linear-gradient(rgb(201 220 195 / 70%), rgb(0 0 0 / 70%)), url("https://wallpaperaccess.com/full/3124541.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #fff;
  padding-top: 30px;
  padding-bottom:30px;
}
.lg-text {
  font-size:52px;
  font-weight: 600;
  text-transform: none;
  color:#fff;
}
.image-aboutus-para {
  color:#fff;
}

/************************* */
.plan {
  background: #f9f9f9;
  padding: 50px 30px;
  margin-bottom: 30px;
}
.plan-header h4 {
  padding-bottom: 8px;
  text-transform: uppercase;
  color: #333;
  font-weight: 600;
}
.plan-header {
  font-weight: 700;
}
.plan-header span {
      color: #fe4819;
      font-size: 40px;
}
.plan li {
  padding-bottom: 15px;
}
.plan ul {
  padding-left: 0;
  margin-bottom: 15px;
  list-style: none;
}
.plan-header p {
  padding-header: 12px;
  padding-bottom: 15px;
}

.col-md-3,.col-md-4 {
  position: relative;
  min-height: 1px;
  padding-right: 0px;
  padding-left: 0px;
}

.bg-pink {
  background:#f0f0f0;
}
.bg-blue {
  background:#d6d6d6;
  color:#000;
}
.padding35 {
  padding: 35px 0 35px;
}


/* Feature-CSS */

.icon {
  color : #fff;
  padding:15px;
  background:#323232 ;
  font-size:50px;
  border-radius:90px;
  border:10px solid #323232 ;
  
}
.feature-box {
  text-align: center;
  padding: 20px;
  transition: .5s;
  margin-bottom: 30px;
  border: 1px solid #e8e8e8;
}
.feature-box:hover {
 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.feature-box h4 {
  font-size: 20px;
  font-weight: 600;
  margin: 25px 0 15px;
}

/* Site Heading */
.site-heading h3{
  font-size : 40px;
  margin-bottom: 10px;
  font-weight: 600;
}
.border {
  background: #e8e8e8 ;
  height: 1px;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 45px;
  float:left;
}

/* padding-margin */
.paddingTB60 {
  padding-top:60px;
  padding-bottom:60px;
}


/* Carousel banner */
/* Declare heights because of positioning of img element */
.carousel .item {
height: 500px;
background-color:#555;
}
.carousel img {
position: absolute;
top: 0;
left: 0;

}
.carousel-caption {
  margin-bottom:30px;
}
.carousel-caption h1 {
  margin-bottom:15px;
  font-size:42px;
  font-weight:700px;
}
.carousel-caption p {
  margin-bottom:20px;
  font-size:16px;
  font-weight:400px;
}

/* Footer */
.footer {
  position: relative;
  background-color: #fff;
  color: #707070;
  padding: 55px 0 40px;
}
.footer h5 {
  font-size: 18px;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
  color: #707070;
  position: relative;
  padding-bottom: 16px;
}
.footer h5:after {
  content: '';
  display: block;
  margin: 5px 0 0;
  width: 40%;
  height: 1px;
  background-color: #fff;
}
.footer ul {
  list-style: none;
  line-height: 2.2em;
  padding-left:0px;
}
.footer ul a {
  color:#707070;;
}
.footer ul a:hover {
  color:#274abb;;
  text-decoration:none;
}
/*footer bottom */
.footer-bottom {
  padding-top: 5px;
  padding-bottom: 15px;
  border-top: 1px solid rgba(0,0,0,0.09);
  background: #fff;
  
}
.copyright-text p {
  color: #707070;
  margin-top: 18px;
  margin-bottom: 0;
  font-size:12px;
}

/* Social Icons */

.social-icons{
  
  margin: 0;
  padding: 0;
  font-size : 10px;
}

.social {
  margin:7px 7px 7px 0px;
  color:#b40028;
}


#social-fb:hover {
   color: #3B5998;
   transition:all .25s;
}
#social-tw:hover {
   color: #4099FF;
   transition:all .25s;
}
#social-gp:hover {
   color: #d34836;
   transition:all .25s;
}
#social-em:hover {
   color: #f39c12;
   transition:all .25s;
}

/* CTA CSS */
.cta-padding35 {

  background: #343a40;
  color:#fff;
}
/* Buttons */
.site-btn {
  font-size: 14px;
  padding: 13px 30px;
  border-radius: 5px;
  border: 1px solid #b40028 ;
  min-width: 200px;
  display: inline-block;
  text-align: center;
  position: relative;
  z-index: 1;
  color: #b40028 ;
  background-color:transparent;
  transition: all .25s ease-in-out;
  margin: 10px 0px 10px 0px;
  
}
.site-btn:hover {
  background: #b40028 ;
  border: 1px solid #fff;
  font-weight:700px;
  
  
}



/* Navigation */
.navbar-default {
background-color: #011034;
border-color: #011034;
padding: 10px 0px 10px 0;
letter-spacing:1px;
font-weight:800;
text-transform: uppercase;
    webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
  -ms-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
  -o-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
}
.navbar-default {
background-color: #011034;
border-color: #011034;
}
.navbar-default .navbar-brand {
color: #ffffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
color: #b40028;
}
.navbar-default .navbar-text {
color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
color: #b40028;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
background-color: #011034;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
color: #ffffff;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
color: #b40028;
background-color: #011034;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li.divider {
background-color: #011034;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
color: #b40028;
background-color: #011034;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
color: #b40028;
background-color: #011034;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
color: #b40028;
background-color: #011034;
}
.navbar-default .navbar-toggle {
border-color: #011034;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
background-color: #011034;
}
.navbar-default .navbar-toggle .icon-bar {
background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
border-color: #ffffff;
}
.navbar-default .navbar-link {
color: #ffffff;
}
.navbar-default .navbar-link:hover {
color: #b40028;
}

@media (max-width: 767px) {
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
  color: #b40028;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #b40028;
  background-color: #011034;
}
}

.fa{
  color: #ffffff !important;
}

.tile{
  width: 321px;
  height: 211px;

}

ul {
  list-style: none;
  padding: 0;
}
li {
  padding-left: 1.3em;
}
li:before {
  content: "\f164"; /* FontAwesome Unicode */
  font-family: FontAwesome;
  display: inline-block;
  width: 1.3em; /* same as padding-left set on li */
  font-size: x-large !important;
}
.image-title{
  font-size: initial !important;
  font-weight: 500 !important;
}
.fa-check{
  color: rgb(108, 173, 9) !important;
}

.cont {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 27vh;
  h1 {
    font-family: monospace;
    font-weight: bolder;
    font-size: 3rem;
    background-image: linear-gradient(to right, #ff1744, #ff8a80);
    -webkit-background-clip: text;
    color: transparent;
  }
}


button{
  color:#fff;
  text-align: center;
  padding: 20px;
}

.button-two{
  text-align: center;
  cursor: pointer;
  font-size:24px;
  margin: 0 0 0 100px;
}



/*Button Two*/
.button-two {
  border-radius: 4px;
  background-color:#d35400;
  border: none;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
}


.button-two span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button-two span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.button-two:hover span {
  padding-right: 25px;
}

.button-two:hover span:after {
  opacity: 1;
  right: 0;
}