<div class="image-aboutus-banner">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
      <img src="assets/online.png" alt="">
      <h2 class="lg-text mt-3">IT help desk</h2>
      </div>
    </div>
  </div>
</div>
<div class="container paddingTB60">
  <div class="row justify-content-between align-items-center">
    <div class="col">
      <p class="image-title">Want to kickstart your career in programming?</p>
      <img class="tile" src="https://miro.medium.com/max/2732/1*5-vZH19C-yjsAYhFyUAuFw.png" alt="">

    </div>
    <div class="col">
      <p class="image-title">Struggle to level up your programming skills to land on your first dev job?</p>
      <img class="tile" src="https://alexwebdevelop.com/wp-content/uploads/2019/08/bad-habits-of-php-developers.png"
        alt="">
    </div>
    <div class="col">
      <p class="image-title">Eager to learn new technologies to become a full-stack engineer?</p>
      <img class="tile"
        src="https://image.jimcdn.com/app/cms/image/transf/dimension=741x10000:format=png/path/s5b37a881719f77a3/image/i3121c97edb6fc9b4/version/1560544379/image.png"
        alt="">
    </div>
  </div>
  <div class="row justify-content-md-center mt-5 " style="background: #f7f8f9 !important;">

    <!-- Blog Post Content Column -->
    <div class="col-md-6">


      <!-- <hr>

               <h2>About us</h2>

               <hr> -->
      <div class="container mt-4 mb-4">
        <div class="row">
          <div class="col-md-1">
            <i class="fa fa-check fa-3x" aria-hidden="true"></i>
          </div>
          <div class="col-md-11 mt-2">
            <span>For beginners, we will give basic knowledge of programming.</span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-1">
            <i class="fa fa-check fa-3x" aria-hidden="true"></i>
          </div>
          <div class="col-md-11 mt-1">
            <span>For students who are following a degree or
              want to get the first dev job, we will brush up on your fundamental skill and give more practical knowledge
              in programming.</span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-1">
            <i class="fa fa-check fa-3x" aria-hidden="true"></i>
          </div>
          <div class="col-md-11 mt-1">
            <span>For current employees who want to learn new
              technology, we will conduct a complete guide following industry best practices and standards.</span>
          </div>
        </div>
      
      </div>

    </div>

    <!-- Blog Sidebar Widgets Column -->
    <!-- <div class="col-md-6">

            <hr>

            <h2>Our Mission</h2>

            <hr>
           </div> -->

  </div>
  <div class="container mt-5" style="    background: #f7f8f9;">
    <div class="row" >
      <!-- The difference you will feel from a video tutorial is the chance to clarify any doubt then and there and the opportunity to learn with industrial standards.  -->
      <ul class="mt-3">
        <li>The difference you will feel from a video tutorial is the chance to clarify any
          doubt then and there and the opportunity to learn with industrial standards.
        </li>
<br>
        <li>The tutors have more than four years of industry experience in Java, NodeJS,
          Python, Angular, React. Therefore you will be able to get an in-depth and practical knowledge than from any
          other source of education.
        </li>
        <!--             
            <li><i class="fa fa-star"></i> List item 3</li>
            <li><i class="fa fa-star"></i> List item 4</li>
            <li><i class="fa fa-star"></i> List item 5</li> -->
      </ul>
    </div>
  </div>
</div>
<div class="container">
  <div class="row cont justify-content-md-center mb-4">
    <h1 style="font-size: 2rem !important;">Prepare for the Ever-Evolving Future of Work!</h1>
    </div>
    <div class="row justify-content-md-center mt-2 mb-4 mr-5">
      
      <button class="button-two" (click)="gotoRegister()"><span>Register</span></button>
      
    </div>
</div>

<div class="cta-padding35">
  <div class="container">
    <div class="row mt-2 mb-2">
      <div class="col-md-4 footer-one">

        <div class="social-icons">
          <h4><b>Find Us On</b></h4>
          <a style="    font-size: larger;color: #fcffff;" href="https://www.facebook.com/TeamBitCode/"><i id="social-fb"
              class="fa fa-facebook-square fa-3x social"></i>https://www.facebook.com/TeamBitCode</a>
              <br>
          <a style="    font-size: larger;color: #fcffff;"  href="mailto:teambitcode@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i>teambitcode@gmail.com</a>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- 
<div class="footer-section">

  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center ">
          <div class="copyright-text">
            <p>CopyRight © 2017 Digital All Rights Reserved</p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div> -->