<form [formGroup]="classGroupForm">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputGroupId">Group ID</label>
      <input formControlName="groupId" type="text" class="form-control" id="inputGroupId">
    </div>
    <div class="form-group col-md-6">
      <label for="inputGroupName">Group Name</label>
      <input formControlName="groupName" type="text" class="form-control" id="inputGroupName">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="inputClassId">Class ID</label>
      <select formControlName="classId" id="inputClassId" class="form-control">
        <option [value]="null" selected>Choose...</option>
        <ng-container *ngFor="let item of allClass">
          <option [value]="item._id">{{item.class_id}}</option>
        </ng-container>
      </select>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="inputMentor">Mentor</label>
      <select formControlName="mentor" id="inputMentor" class="form-control">
        <option [value]="null" selected>Choose...</option>
        <ng-container *ngFor="let item of allMentors">
          <option [value]="item._id">{{item.first_name}}</option>
        </ng-container>
      </select>
    </div>
    <div class="form-group col-md-4">
      <label for="inputPrice">Price</label>
      <input formControlName="price" type="number" class="form-control" id="inputPrice">
    </div>
  </div>
  <div class="form-row justify-content-between" *ngIf="isEditMode">
    <div class="form-group col-md-4">
      <label for="inputStatus">Status</label>
      <select (change)="onSelectClassGroupStatus($event)" formControlName="status" id="inputStatus"
        class="form-control">
        <option value="null" selected>Choose...</option>
        <option value="ACTIVE">Active</option>
        <option value="COMPLETED">Completed</option>
        <option value="HOLD">Hold</option>
      </select>
    </div>
    <div class="form-group col-md-4">
      <label for="inputStatusMp">Mentor Payment Status</label>
      <select (change)="onSelectClassGroupMpStatus($event)" formControlName="mpStatus" id="inputStatusMp"
        class="form-control">
        <option selected>Choose...</option>
        <option value="Y">PAID</option>
        <option value="N">PENDING</option>
      </select>
    </div>
  </div>

  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-1 mr-2" *ngIf="!isEditMode">
        <button [disabled]="!classGroupForm.valid" (click)="addClassGroup()" class="btn btn-primary">Register</button>
      </div>
      <div class="col-md-2 mr-2" *ngIf="isEditMode">
        <button [disabled]="!(classGroupForm.valid && isValidClassGroupStatus)" (click)="updateChagesConfirm()"
          class="btn btn-primary">Save
          Changes</button>
      </div>
      <div class="col-md-1 ml-2" *ngIf="isEditMode">
        <button (click)="cancel()" class="btn btn-secondary">Cancel</button>
      </div>

    </div>
  </div>
</form>

<div class="row mt-4">
  <div class="card" style="width: 100rem;">
    <div class="card-header">
      <div class="container">
        <div class="col-md-4">
          <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search Here">
        </div>
      </div>
    </div>
    <div class="card-body">
      <table class="table-responsive table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Class ID</th>
            <th scope="col">Group ID</th>
            <th scope="col">Mentor</th>
            <th scope="col">Students</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of allClassGroups| filterClassGroupDetails:searchText">
            <td>{{item.name}}</td>
            <td>{{item.class_id.class_id}}</td>
            <td>{{item.group_id}}</td>
            <td> {{item.mentor.first_name}}</td>
            <td>{{item.students?.length}}

              <button (click)="displayMode(template,item)" type="button" class="btn btn-warning mr-2">
                <i class="fa fa-users" aria-hidden="true"></i>
              </button>
            </td>
            <td [style.color]="item?.group_status ==='ACTIVE' ? '#11bb1e':''"><b>
                {{item.group_status}}
              </b></td>
            <td>
              <button (click)="editClass(item)" type="button" class="btn btn-success mr-2"><i
                  class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
              <button (click)="removeConfirm(item._id)" type="button" class="btn btn-danger"><i class="fa fa-trash"
                  aria-hidden="true"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>




<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{currentClassGroup.name}}</h4>
    <h4 class="modal-title pull-right ml-4"><span
        class="badge badge-primary">{{currentClassGroup.class_id.number_of_weeks}} Weeks Class</span></h4>
    <h4 class="modal-title pull-right ml-4"><span class="badge badge-warning">{{currentClassGroup.class_id.language}}
      </span></h4>
    <h4 class="modal-title pull-right ml-5"><span class="badge badge-success">Total Payments :
        {{totalAmount| number:'1.1-2'}} </span></h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="card" style="width: 100rem;" *ngIf="!(currentClassGroup && currentClassGroup.students)">
      No Student to display
    </div>
    <table class="table">
      <thead class="thead-dark" *ngIf="(currentClassGroup && currentClassGroup.students)">
        <tr>
          <th scope="col">Student</th>
          <th scope="col">Email</th>
          <th scope="col">Contact No</th>
          <th scope="col">Mentor</th>
          <th scope="col">Payment</th>
          <th scope="col">Payment Status</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of currentClassGroup.students">
          <td *ngIf="!(item && item?.detail && item?.detail.name)" style="color: rgba(250, 28, 28, 0.911);">
            Student Deleted
          </td>
          <td *ngIf="item && item?.detail && item?.detail?.name">{{item?.detail?.name}}</td>
         
          <td *ngIf="!(item && item?.detail  && item?.detail?.email)" style="color: rgba(250, 28, 28, 0.911);">
            Student Deleted
          </td>
          <td *ngIf="item && item?.detail && item?.detail?.email">{{item?.detail?.email}}</td>

          <td *ngIf="!(item && item?.detail && item?.detail?.conact_number)" style="color: rgba(250, 28, 28, 0.911);">
            Student Deleted
          </td>
          <td *ngIf="item && item.detail && item.detail.conact_number">{{item?.detail?.conact_number}}</td>

          <td *ngIf="!(currentClassGroup && currentClassGroup?.mentor && currentClassGroup?.mentor?.first_name)" style="color: rgba(250, 28, 28, 0.911);">
            Mentor Deleted
          </td>
          <td *ngIf="currentClassGroup && currentClassGroup?.mentor && currentClassGroup?.mentor?.first_name">{{currentClassGroup?.mentor?.first_name}}</td>

          <td *ngIf="!(item && item.payment_amount !== undefined && item.payment_amount !== null)" style="color: rgba(250, 28, 28, 0.911);">
            Student Deleted
          </td>
          <td *ngIf="item && item?.payment_amount !== undefined && item?.payment_amount !== null"> {{item?.payment_amount}}</td>

          <td *ngIf="!(item && item?.payment_status)" style="color: rgba(250, 28, 28, 0.911);">
            Student Deleted
          </td>
          <td *ngIf="item && item?.payment_status">{{item?.payment_status}}</td>
            
          <td>
                        <button (click)="removeStudentInGroupConfirm(item)" type="button" class="btn btn-danger"><i class="fa fa-trash"
                            aria-hidden="true"></i></button>
                      </td>
        </tr>
      </tbody>
    </table>
  </div>


</ng-template>