<!-- Team -->
<section id="team" class="pb-5">
    <div class="container">
        <h1 class="section-title h1 title-black">OUR CLASSES</h1>
        <div class="row">
            <!-- Team member -->
        
            <!-- ./Team member -->
            <!-- Team member -->
            
            <!-- ./Team member -->
            <!-- Team member -->
            
            <!-- ./Team member -->
            <!-- Team member -->
            
            <!-- ./Team member -->
            <!-- Team member -->
            <ng-container *ngFor="let item of allClass">
                <div class="col-xs-12 col-sm-6 col-md-4">
   
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card" [ngClass]="{'disabledMode':!item.active}">
                                    
                                    <div class="card-body text-center">
                                        <span class="blink_me" *ngIf="item.active">
                                            <i class="fa fa-circle" aria-hidden="true"></i>
                                        </span>
                                        <span class="blink_not_me" *ngIf="!item.active">
                                            <i class="fa fa-circle" aria-hidden="true">&nbsp;Not Available</i>
                                        </span>
                                        <p><img class=" img-fluid" [src]="item.img" alt="card image"></p>
                                        <h4 class="card-title">{{item.name}}</h4>
                                        <p class="card-text">{{item.language}}</p>
                                        <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card" [ngClass]="{'disabledMode':!item.active}">
                                    <div class="card-body text-center mt-4">
                                        
                                        <span class="blink_not_me" *ngIf="!item.active">
                                            <i class="fa fa-circle" aria-hidden="true">&nbsp;Not Available</i>
                                        </span>
                                        <h4 class="card-title">{{item.name}}</h4>
                                        <p class="card-text">{{item.description}}</p>
                                        <div class="container">
                                            <div class="row">
                                                <div class="col">
                                                    <ng-container *ngFor="let tag of getTags(item.language)">
                                                        <span class="badge badge-primary">{{tag}}</span>
                                                    </ng-container>
                                                </div>
                                                
                                            </div>
                                        </div>
                                        <ul class="list-inline">
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" (click)="gotoContent(item)">
                                                    <i class="fa fa-arrow-right fa-3x" aria-hidden="true"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
           
            <!-- ./Team member -->
            <!-- Team member -->
            
            <!-- ./Team member -->

        </div>
    </div>
</section>
<!-- Team -->