<form *ngIf="data">
    <div class="form-group row">
      <label for="staticEmail" class="col-sm-12 col-form-label"><b>Name</b> : {{data.first_name}} {{data.last_name}}</label>
    </div>
    <div class="form-group row">
        <label for="staticEmail" class="col-sm-12 col-form-label"><b>Email</b> : {{data.email}}</label>
      </div>
      <div class="form-group row">
        <label for="staticEmail" class="col-sm-12 col-form-label"><b>Bank Name</b> : {{data.bank_name}}</label>
      </div>
      <div class="form-group row">
        <label for="staticEmail" class="col-sm-12 col-form-label"><b>Account Number</b> : {{data.bank_account_number}}</label>
      </div>
      <div class="form-group row">
        <label for="staticEmail" class="col-sm-12 col-form-label"><b>Name In Account</b> : {{data.name_in_bank_account}}</label>
      </div>
      <div class="form-group row">
        <label for="staticEmail" class="col-sm-12 col-form-label"><b>Contact Number</b> : {{data.contact_number}}</label>
      </div>
  </form>