<form  [formGroup]="studentAddGroupForm">
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="inputClassId">Class ID</label>
            <select (change)="onSelectClassId($event)"  formControlName="classId"  id="inputClassId" class="form-control">
              <option [value]="null" selected>Choose...</option>
              <ng-container *ngFor="let item of allClass">
              <option [value]="item._id" >{{item.class_id}}</option>
             </ng-container>
            </select>
          </div>
      <div class="form-group col-md-4">
        <label for="inputGroupId">Group ID</label>
        <select (change)="onSelectGroupId($event)" formControlName="groupId"  id="inputGroupId" class="form-control">
          <option [value]="null" selected>Choose...</option>
          <ng-container *ngFor="let item of allClassGroups| filterGroupsByClass:selectedClassId">
          <option [value]="item._id" >{{item.group_id}}</option>
         </ng-container>
        </select>
      </div>
      <div class="form-group col-md-4 mt-4">
        <button [disabled]="!(studentAddGroupForm.valid && isValidCladd && isValidGroup)" (click)="addStudentToGroupConfirm('ADD')" type="button" class="btn btn-primary btn-sm mt-1">&nbsp;&nbsp;Add&nbsp;&nbsp;</button>
      </div>

    </div>
    <div class="form-row" *ngIf="selectedClassName || selectedClassGropuName">
      <div class="form-group col-md-4 mt-2">
        <label>Class Name</label><br>
        <label *ngIf="selectedClassName"><b>{{selectedClassName}}</b></label>
      </div>
      <div class="form-group col-md-4 mt-2">
        <label>Group Name</label><br>
        <label *ngIf="selectedClassGropuName"><b>{{selectedClassGropuName}}</b></label>
      </div>
    </div>
    
  </form>
  <div class="container">
    <div class="row">
      <div class="card" style="width: 100rem;">
        <div class="card-body">
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Class ID</th>
                <th scope="col">Group ID</th>
                <th scope="col">Weeks</th>
                <th scope="col">Language</th>
                <th scope="col">Mentor</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of groupsDetails">
                <td>{{item.class_id.class_id}}</td>
                <td>{{item.group_id}}</td>
                <td>{{item.class_id.number_of_weeks}}</td>
                <td>{{item.class_id.language}}</td>
                <td>{{item.mentor.first_name}}</td>
                <td>
                  <button (click)="editStudent(item)" type="button" class="btn btn-success mr-2"><i
                      class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                  <button (click)="removeConfirm(item._id)" type="button" class="btn btn-danger"><i class="fa fa-trash"
                      aria-hidden="true"></i></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  