table {
    display: flex !important;
    flex-flow: column !important;
    width: 100% !important;

}

thead {
    flex: 0 0 auto !important;;
}

tbody {
    flex: 1 1 auto !important;;
    display: block !important;;
    // overflow: scroll;
}

tr {
    width: 100% !important;;
    display: table !important;;
    table-layout: fixed !important;;
}