<form [formGroup]="studentPaymentForm">
    <div class="form-group row">
        <div class="form-group col-md-4">
            <label for="inputGroupId">Group ID</label>
            <select (change)="onSelectGroupId($event)" formControlName="inputGroupId" id="inputGroupId"
                class="form-control">
                <option [value]="null" selected>Choose...</option>
                <ng-container *ngFor="let item of allClassGroups">
                    <option [value]="item._id">{{item.group_id}}</option>
                </ng-container>
            </select>
        </div>
        <div class="form-group col-md-8">
            <form>
                <div class="form-group row">
                    <div class="col-md-6">
                        <label for="groupName" class="col-sm-12 col-form-label"><b>Name</b> :
                            {{selectedGroup?.name}}</label>

                    </div>
                    <div class="col-md-6">
                        <label for="groupEmail" class="col-sm-12 col-form-label"><b>Language</b> :
                            {{selectedGroup?.class_id?.language}}</label>

                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-6">
                        <label for="groupWeeks" class="col-sm-12 col-form-label"><b>Number Of Weeks</b> :
                            {{selectedGroup?.class_id?.number_of_weeks}}</label>

                    </div>
                    <div class="col-md-6">
                        <label for="groupStudents" class="col-sm-12 col-form-label"><b>Current Students</b> :
                            {{selectedGroup?.students?.length}}</label>

                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-md-6">
                        <label for="groupMentor" class="col-sm-12 col-form-label"><b>Mentor</b> :
                            {{selectedGroup?.mentor?.first_name}}</label>

                    </div>
                    <div class="col-md-6">
                        <label for="groupClass" class="col-sm-12 col-form-label"><b>Class</b> :
                            {{selectedGroup?.class_id?.name}}</label>

                    </div>

                </div>
            </form>
        </div>
    </div>
    <div class="form-group row">
        <div class="form-group col-md-4">
            <label for="inputStudentId">Student ID</label>
            <select (change)="onSelectStudentId($event)" formControlName="inputStudentId" id="inputStudentId"
                class="form-control">
                <option [value]="null" selected>Choose...</option>
                <ng-container *ngFor="let item of selectedGroup?.students">
                    <option [value]="item.detail._id">{{item.detail.name}} - {{item.detail.email}}</option>
                </ng-container>
            </select>
        </div>
        <div class="form-group col-md-8">
            <form>
                <div class="form-group row">
                    <div class="col-md-6">
                        <label for="studentName" class="col-sm-12 col-form-label"><b>Name</b> :
                            {{selectedStudent?.name}}</label>

                    </div>
                    <div class="col-md-6">
                        <label for="studentEmail" class="col-sm-12 col-form-label"><b>Email</b> :
                            {{selectedStudent?.email}}</label>

                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-6">
                        <label for="studentNic" class="col-sm-12 col-form-label"><b>NIC</b> :
                            {{selectedStudent?.nic_number}}</label>

                    </div>
                    <div class="col-md-6">
                        <label for="studentGender" class="col-sm-12 col-form-label"><b>Gender</b> :
                            {{selectedStudent?.gender}}</label>

                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-md-6">
                        <label for="studentContact" class="col-sm-12 col-form-label"><b>Contact</b> :
                            {{selectedStudent?.conact_number}}</label>

                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="form-group row">
        <div class="form-group col-md-2">
            <label for="amount">Paid Amount</label>
            <input formControlName="inputAmount" type="number" class="form-control" id="amount">
        </div>
        <div class="form-group col-md-4">
            <label for="studentCurrentAmmount" class="col-sm-12"><b>Current Payment</b> : {{currentPayment}}</label>
        </div>
        <div class="form-group ml-5 col-md-2">
            <label for="studentCurrentAmmount" class="col-sm-12"><b>Payment Status</b> : {{currentPaymentStatus}}</label>
        </div>
    </div>

    <div class="form-check">
        <div class="form-group">
            <input formControlName="isFullyPaid" type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Is Fully Paid</label>
        </div>

    </div>
    <button (click)="onCnfirmPayment()" [disabled]="!studentPaymentForm.valid" class="btn btn-primary">Submit</button>
</form>