
<div class="container mt-5">
    <div class="row">
      <div class="card" style="width: 100rem;">
        <div class="card-header">
          <div class="container">
            <div class="col-md-4">
              <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search Here">
            </div>
          </div>
        </div>
        <div class="card-body">
        <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Contact</th>
                <th scope="col">Class</th>
                <th scope="col">Status</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of allNewStudents  | filterNewStudentByAll:searchText">
                <td>{{item.name}}</td>
                <td>{{item.email}}</td>
                <td>{{item.contact_number}}</td>
                <td>{{item.class_id.name}}</td>
                <td><span *ngIf="item.is_confirmed === 'Y'" class="badge badge-success">Confirmed</span>
                    <span *ngIf="item.is_confirmed !== 'Y'" class="badge badge-danger">Pending</span>
                </td>
                <td>
                    <div class="custom-control custom-switch">
                        <input (change)="changeActiveStatus($event,item)"  [checked]="item?.is_confirmed === 'Y'? true:false"  type="checkbox" class="custom-control-input" id="customSwitch1{{i}}">
                        <label  [style.color]="item?.is_confirmed === 'Y' ? '#11bb1e':''" class="custom-control-label" for="customSwitch1{{i}}">
                       
                        </label>
                      </div>
                </td>
              </tr>
            </tbody>
          </table>
    </div>
    </div>
</div>
</div>