<div class="container">
  <div class="row">
    <div class="card" style="width: 100rem;">
      <div class="card-header">
        <div class="container">
          <div class="col-md-4">
            <label for=""><b>My Total Earning: RS.{{getTotalAmountForAllGroups()}}</b></label>
          </div>
        </div>
      </div>
      <div class="card-body">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Class ID</th>
              <th scope="col">Group ID</th>
              <th scope="col">Students</th>
              <th scope="col">Total Amount</th>
              <th scope="col">Payment Status</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of allClassGroups| filterGroupsByMentor:userId">
              <td>{{item.class_id.class_id}}</td>
              <td>{{item.group_id}}</td>
              <td>{{item.students.length}}</td>
              <td>{{getTotalAmount(item)}}</td>
              <td [style.color]="item?.mentor_payment_status ==='Y' ? '#11bb1e':''"><b>
                {{item.mentor_payment_status === 'Y' ? 'Paid':'Pending'}}
              </b></td>
            </tr>
            
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>