<form  [formGroup]="mentorForm">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputEmail4">Email</label>
            <input formControlName="email" type="email" class="form-control" id="inputEmail4">
        </div>
        <div class="form-group col-md-6">
            <label for="inputPassword">Password</label>
            <input [attr.disabled]="isEditMode ? '' : null" formControlName="password" type="email" class="form-control" id="inputPassword">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputFname">First Name</label>
            <input  formControlName="fName" type="text" class="form-control" id="inputFname">
        </div>
        <div class="form-group col-md-6">
            <label for="inputLname">Last Name</label>
            <input  formControlName="lName" type="text" class="form-control" id="inputLname">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputBank">Bank Name</label>
            <input  formControlName="bankName" type="text" class="form-control" id="inputBank">
        </div>
        <div class="form-group col-md-6">
            <label for="inputAccNumber">Bank Account Number</label>
            <input  formControlName="bankAccount" type="text" class="form-control" id="inputAccNumber">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputNameInAcc">Name In Bank Account</label>
            <input  formControlName="nameInBank" type="text" class="form-control" id="inputNameInAcc">
        </div>
        <div class="form-group col-md-6">
            <label for="inputContact">Contact Number</label>
            <input  formControlName="contactNo" type="text" class="form-control" id="inputContact">
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-1 mr-2" *ngIf="!isEditMode">
                <button  [disabled] = "!mentorForm.valid" (click)="addMenter()" class="btn btn-primary">Register</button>
              </div>
              <div class="col-md-2 mr-2" *ngIf="isEditMode">
                <button  [disabled] = "!mentorForm.valid" (click)="updateChagesConfirm()" class="btn btn-primary">Save Changes</button>
              </div>
              <div class="col-md-1 ml-2" *ngIf="isEditMode">
                <button  (click)="cancel()" class="btn btn-secondary">Cancel</button>
              </div>
            
        </div>
            </div>
   
</form>

<div class="container mt-5">
    <div class="row">
      <div class="card" style="width: 100rem;">
        <table class="table-responsive table-striped">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Bank</th>
                <th scope="col">Contact</th>
                <th scope="col">Role</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of allMentors">
                <td>{{item.first_name}}</td>
                <td>{{item.email}}</td>
                <td>{{item.bank_name}}</td>
                <td>{{item.contact_number}}</td>
                <td><span *ngIf="item.role !== 'admin'" class="badge badge-primary">Mentor</span>
                    <span *ngIf="item.role === 'admin'" class="badge badge-danger">Admin</span>
                </td>
                <td>
                    <button (click)="openModal(template,item)" type="button" class="btn btn-primary mr-2"><i class="fa fa-eye" aria-hidden="true"></i></button>
                    <button (click)="editMentor(item)" type="button" class="btn btn-success mr-2"><i
                        class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                    <button (click)="removeConfirm(item._id)" type="button" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></button>
                </td>
              </tr>
            </tbody>
          </table>
    </div>
</div>
</div>

<ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Mentor Details</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">

        <app-user-modal [data]="currentMentor"></app-user-modal>
    </div>
  </ng-template>