<div class="container">
  <div class="row">
    <div class="card" style="width: 100rem;">
      <div class="card-header">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search Here">
              
            </div>
            <div class="col-md-6">
              <label for="" class="mt-2"><b>Total Students: {{allStudents.length}}</b></label>
            </div>
          </div>
          
        </div>
      </div>
      <div class="card-body">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">NIC Number</th>
              <th scope="col">Gender</th>
              <th scope="col">Contact</th>
              <th scope="col">Joined Classes</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody *ngIf="allStudents && allStudents">
            <tr *ngFor="let item of allStudents | filterStudentByAll:searchText">
              <td>{{item.name}}</td>
              <td>{{item.email}}</td>
              <td>{{item.nic_number}}</td>
              <td> <i *ngIf="item.gender === 'male'" class="fa fa-male" aria-hidden="true"></i>
                <i *ngIf="item.gender === 'female'" class="fa fa-male" aria-hidden="true"></i></td>
              <td>{{item.conact_number}}</td>
              <td>{{getGroupsDetailsArrayLength(item._id)}}</td>
              <td>
                <button (click)="displayMode(template,item)" type="button" class="btn btn-success mr-2"><i
                    class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                <!-- <button (click)="removeConfirm(item._id)" type="button" class="btn btn-danger"><i class="fa fa-trash"
                    aria-hidden="true"></i></button> -->
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- <button type="button" class="btn btn-primary" (click)="openModal(template)">Create template modal</button> -->

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{currentStudent.name}} &nbsp; |  &nbsp; {{currentStudent.nic_number}} &nbsp; |  &nbsp; {{currentStudent.email}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-student-assign-group [currentStudent]="currentStudent" [groupsDetails]="groupsDetails" [allClass]="allClass" [allClassGroups]="allClassGroups" (addEditEvent)="handleEvent($event)"></app-student-assign-group>
  </div>
</ng-template>