<div class="container">
    <div class="row">
      <div class="card" style="width: 100rem;">
        <div class="card-header">
          <div class="container">
            <div class="col-md-4">
              <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search Here">
            </div>
          </div>
        </div>
        <div class="card-body">
            <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Class ID</th>
                    <th scope="col">Group ID</th>
                    <th scope="col">Mentor</th>
                    <th scope="col">Students</th>
                    <th scope="col">Status</th>
                    <th scope="col">Payment Status</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of allClassGroups | filterClassGroupDetails:searchText">
                    <td>{{item.name}}</td>
                    <td>{{item.class_id.class_id}}</td>
                    <td>{{item.group_id}}</td>
                    <td> {{item.mentor.first_name}}</td>
                    <td>{{item.students?.length}}
                      <button (click)="displayMode(template,item)" type="button" class="btn btn-warning mr-2">
                        <i class="fa fa-users" aria-hidden="true"></i>
                      </button>
                    </td>
                    <td [style.color]="item?.group_status ==='ACTIVE' ? '#11bb1e':''"><b>
                      {{item.group_status}}
                    </b></td>
                    <td [style.color]="item?.mentor_payment_status ==='Y' ? '#11bb1e':''"><b>
                      {{item.mentor_payment_status === 'Y' ? 'Paid':'Pending'}}
                    </b></td>
                    <!-- <td>
                      <button (click)="removeConfirm(item._id)" type="button" class="btn btn-danger"><i class="fa fa-trash"
                          aria-hidden="true"></i></button>
                    </td> -->
                  </tr>
                </tbody>
              </table>
        </div>
      </div>
    </div>
  </div>



  
<!-- <button type="button" class="btn btn-primary" (click)="openModal(template)">Create template modal</button>
<ng-template #template let-modal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Modal</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    This is a modal.
  </div>
</ng-template> -->
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{currentClassGroupDetail.name}}</h4>
    <h4 class="modal-title pull-right ml-4"><span class="badge badge-primary">{{currentClassGroupDetail.class_id.number_of_weeks}} Weeks Class</span></h4>
    <h4 class="modal-title pull-right ml-4"><span class="badge badge-warning">{{currentClassGroupDetail.class_id.language}} </span></h4>
    <h4 class="modal-title pull-right ml-5"><span class="badge badge-success">Total Payments : {{totalAmount| number:'1.1-2'}} </span></h4>

    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container">
      <div class="row">
        <h4 class="modal-title pull-left"><span class="badge badge-success">Payment Completed Count : {{currentClassGroupDetail?.students | countInArray : 'payment_status' : 'PAID'}}</span> </h4>
        <h4 class="modal-title pull-right ml-4">Payment Pending Count : {{currentClassGroupDetail?.students | countInArray : 'payment_status' : 'PENDING'}}</h4>
      </div>
    </div>
    
    <div class="card" style="width: 100rem;" *ngIf="!(currentClassGroupDetail && currentClassGroupDetail.students)">
      No Student to display
      </div>
            <table class="table">
                <thead class="thead-dark" *ngIf="(currentClassGroupDetail && currentClassGroupDetail.students)">
                  <tr>
                    <th scope="col">Student</th>
                    <th scope="col">Email</th>
                    <th scope="col">Contact No</th>
                    <!-- <th scope="col">Mentor</th> -->
                    <th scope="col">Payment</th>
                    <th scope="col">Payment Status</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of currentClassGroupDetail.students">
                    <td *ngIf="!(item && item.detail)" style="color: rgba(250, 28, 28, 0.911);">
                      Student Deleted
                    </td>
                    <td *ngIf="!(item && item.detail)" style="color: rgba(250, 28, 28, 0.911);">
                      Student Deleted
                    </td>
                    <td *ngIf="!(item && item.detail)" style="color: rgba(250, 28, 28, 0.911);">
                      Student Deleted
                    </td>
                    <td *ngIf="!(item && item.detail)" style="color: rgba(250, 28, 28, 0.911);">
                      Student Deleted
                    </td>
                    <!-- <td *ngIf="!(item && item.detail)" style="color: rgba(250, 28, 28, 0.911);">
                      Student Deleted
                    </td> -->
                    <td *ngIf="!(item && item.detail)" style="color: rgba(250, 28, 28, 0.911);">
                      Student Deleted
                    </td>
                    <ng-container *ngIf="item && item.detail">
                      <td>{{item.detail.name}}</td>
                      <td>{{item.detail.email}}</td>
                      <td>{{item.detail.conact_number}}</td>
                      <!-- <td>{{currentClassGroupDetail.mentor.first_name}}</td> -->
                      <td> {{item.payment_amount}}</td>
                      <td>{{item.payment_status}}</td>
                    </ng-container>
                    
                    <!-- <td>
                      <button (click)="editClass(item)" type="button" class="btn btn-success mr-2"><i
                          class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                      <button (click)="removeConfirm(item._id)" type="button" class="btn btn-danger"><i class="fa fa-trash"
                          aria-hidden="true"></i></button>
                    </td> -->
                  </tr>
                </tbody>
              </table>
  </div>
  
  
</ng-template>