<div class="container">
    <div class="row">
        <nav class="nav nav-pills nav-fill">
            <a *ngIf="isAdmin" class="nav-item nav-link" (click)="changeTab('ADD_MENTOR')"
                [ngClass]="{'active':tabType == 'ADD_MENTOR'}">Mentor</a>
            <a class="nav-item nav-link" (click)="changeTab('ADD_STUDENT')"
                [ngClass]="{'active':tabType == 'ADD_STUDENT'}">Student</a>
            <a class="nav-item nav-link" (click)="changeTab('ADD_CLASS')"
                [ngClass]="{'active':tabType == 'ADD_CLASS'}">Classes</a>
            <a class="nav-item nav-link" (click)="changeTab('ADD_CLASS_GROUP')"
                [ngClass]="{'active':tabType == 'ADD_CLASS_GROUP'}">Class Groups</a>
            <a *ngIf="isAdmin" class="nav-item nav-link" (click)="changeTab('STUDENT_PAYMENT')"
                [ngClass]="{'active':tabType == 'STUDENT_PAYMENT'}">Student Payment</a>

            <a class="nav-item nav-link" (click)="changeTab('NEW_STUDENTS')"
                [ngClass]="{'active':tabType == 'NEW_STUDENTS'}">New Students</a>
            <a class="nav-item nav-link" (click)="changeTab('SEND_EMAIL')"
                [ngClass]="{'active':tabType == 'SEND_EMAIL'}">Send Email</a>
            <!-- 
            <a class="nav-item nav-link" (click)="changeTab('ALL_CLASSES')"
                [ngClass]="{'active':tabType == 'ALL_CLASSES'}">All Classes</a> -->
        </nav>

        <div *ngIf="tabType == 'ADD_MENTOR'" class="card" style="width: 100rem;">
            <div class="card-header">
                ADD MENTOR
            </div>
            <div class="card-body">
                <app-add-mentor></app-add-mentor>
            </div>
        </div>
        <div *ngIf="tabType == 'ADD_STUDENT'" class="card" style="width: 100rem;">
            <div class="card-header">
                ADD STUDENT
            </div>
            <div class="card-body">
                <app-add-student (emailEvent)="changeToEmailTab($event)"></app-add-student>
            </div>
        </div>
        <div *ngIf="tabType == 'ADD_CLASS'" class="card" style="width: 100rem;">
            <div class="card-header">
                ADD CLASS
            </div>
            <div class="card-body">
                <app-add-class></app-add-class>
            </div>
        </div>
        <div *ngIf="tabType == 'ADD_CLASS_GROUP'" class="card" style="width: 100rem;">
            <div class="card-header">
                ADD LASS_GROUP
            </div>
            <div class="card-body">
                <app-add-class-group></app-add-class-group>
            </div>
        </div>
        <div *ngIf="tabType == 'NEW_STUDENTS'" class="card" style="width: 100rem;">
            <div class="card-header">
                NEW STUDENTS
            </div>
            <div class="card-body">
                <app-admin-new-student></app-admin-new-student>
            </div>
        </div>
        <div *ngIf="tabType == 'SEND_EMAIL'" class="card" style="width: 100rem;">
            <div class="card-header">
                SEND EMAIL
            </div>
            <div class="card-body">
                <app-send-emails></app-send-emails>
            </div>
        </div>
        <!-- <div *ngIf="tabType == 'ALL_CLASSES'" class="card" style="width: 100rem;">
            <div class="card-header">
                CLASSES
            </div>
            <div class="card-body">
                sads
            </div>
        </div> -->
        <div *ngIf="tabType == 'STUDENT_PAYMENT'" class="card" style="width: 100rem;">
            <div class="card-header">
                STUDENT PAYMENT
            </div>
            <div class="card-body">
                <app-student-payment></app-student-payment>
            </div>
        </div>
    </div>
</div>