<form [formGroup]="studentForm">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail4">Email</label>
        <input formControlName="email" type="email" class="form-control" id="inputEmail4" >
      </div>
      <div class="form-group col-md-6">
        <label for="inputNic">NIC Number</label>
        <input formControlName="nicNo" type="text" class="form-control" id="inputNic">
      </div>
    </div>
    <div class="form-group">
      <label for="inputName">Name</label>
      <input formControlName="name" type="text" class="form-control" id="inputName" placeholder="Name">
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="inputGender">Gender</label>
        <select formControlName="gender" id="inputGender" class="form-control">
          <option selected>Choose...</option>
          <option value="male">Male</option>
          <option value="female">Female</option>
        </select>
      </div>
      <div class="form-group col-md-3">
        <label for="inputContact">Contact Number</label>
        <input formControlName="contactNo" type="text" class="form-control" id="inputContact">
      </div>
    </div>
    
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-md-1 mr-2" *ngIf="!isEditMode">
          <button [disabled]="!studentForm.valid" (click)="addStudent()" class="btn btn-primary">Register</button>
        </div>
        <div class="col-md-2 mr-2" *ngIf="isEditMode">
          <button [disabled]="!studentForm.valid" (click)="updateChagesConfirm()" class="btn btn-primary">Save
            Changes</button>
        </div>
        <div class="col-md-1 ml-2" *ngIf="isEditMode">
          <button (click)="cancel()" class="btn btn-secondary">Cancel</button>
        </div>
  
      </div>
    </div>
  </form>

  <div class="container mt-4">
    <ng-container *ngIf="isEditMode">
      <form  [formGroup]="studentAddGroupForm">
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="inputClassId">Class ID</label>
                <select (change)="onSelectClassId($event)" formControlName="classId"  id="inputClassId" class="form-control">
                  <option [value]="null" selected>Choose...</option>
                  <ng-container *ngFor="let item of allClass">
                  <option [value]="item._id" >{{item.class_id}}</option>
                 </ng-container>
                </select>
              </div>
          <div class="form-group col-md-4">
            <label for="inputGroupId">Group ID</label>
            <select (change)="onSelectGroupId($event)" formControlName="groupId"  id="inputGroupId" class="form-control">
              <option [value]="null" selected>Choose...</option>
              <ng-container *ngFor="let item of allClassGroups| filterGroupsByClass:selectedClassId">
              <option [value]="item._id" >{{item.group_id}}</option>
             </ng-container>
            </select>
          </div>
          <div class="form-group col-md-4 mt-4">
            <button [disabled]="!(studentAddGroupForm.valid && isValidCladd && isValidGroup)" (click)="addStudentToGroupConfirm()" type="button" class="btn btn-primary btn-sm mt-1">&nbsp;&nbsp;Add&nbsp;&nbsp;</button>
          </div>

        </div>
      </form>
    </ng-container>
      
    <div class="row">
      <div class="card" style="width: 100rem;">
        <div class="card-header">
          <div class="container">
            <div class="col-md-4">
              <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search Here">
            </div>
          </div>
        </div>
        <div class="card-body">
          <table class="table-responsive table-striped">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">NIC Number</th>
                <th scope="col">Gender</th>
                <th scope="col">Contact</th>
                <th scope="col">Joined Classes</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of allStudents | filterStudentByAll:searchText">
                <td>{{item.name}}</td>
                <td>{{item.email}}</td>
                <td>{{item.nic_number}}</td>
                <td> <i *ngIf="item.gender === 'male'" class="fa fa-male" aria-hidden="true"></i>
                  <i *ngIf="item.gender === 'female'" class="fa fa-male" aria-hidden="true"></i></td>
                <td>{{item.conact_number}}</td>
                <td>{{getJoinedClasses(item._id)}}</td>
                <td>
                  <button (click)="editStudent(item)" type="button" class="btn btn-success mr-2"><i
                      class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                  <button (click)="removeConfirm(item._id)" type="button" class="btn btn-danger"><i class="fa fa-trash"
                      aria-hidden="true"></i></button>
                      &nbsp;
                      <button (click)="sendEmail(item)" type="button" class="btn btn-info"><i class="fa fa-envelope"
                        aria-hidden="true"></i></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>


<ng-template #template>
  <app-student-assign-group
  [allClass]="allClass"
  [allClassGroups]="allClassGroups"></app-student-assign-group>
</ng-template>