<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <a href="index.html">
    <img class="navbar-brand text-dark display-4" src="assets/logo.png" alt="">
  </a>
  <div class="ml-5 collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" routerLink="home" [routerLinkActive]="['active']">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link"  routerLink="classes" [routerLinkActive]="['active']">Classes <span class="sr-only"></span></a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link"  routerLink="class-group" [routerLinkActive]="['active']">Class Groups <span class="sr-only"></span></a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" routerLink="students" [routerLinkActive]="['active']">Students <span class="sr-only"></span></a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" routerLink="my-earnings" [routerLinkActive]="['active']">My Earnings <span class="sr-only"></span></a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" routerLink="graphs" [routerLinkActive]="['active']">Graphs <span class="sr-only"></span></a>
      </li>
      <li *ngIf="isAdmin" class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" routerLink="send-email" [routerLinkActive]="['active']">Send Email <span class="sr-only"></span></a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" routerLink="admin-area">Admin Area</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" routerLink="/base/profile">Profile</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <a  class="nav-item nav-link user-action" routerLink="profile"><img src="assets/user.png" class="avatar" alt="Avatar"> {{user?.first_name}} {{user?.last_name}} <b class="caret"></b></a>
      <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"> -->
      <button (click)="logOut()" class="btn btn-outline-success my-2 my-sm-0" type="submit">LogOut</button>
    </form>
  </div>
</nav>