<section class="background testimonial py-5" id="testimonial">
  <div class="container">
    <div class="row ">
      <div class="col-md-4 py-5 background-primary text-white text-center ">
        <h5>You can join to our first class without making any payment</h5>
        <div class=" ">
          <div class="card-body">
            <img src="assets/register.png" style="width:30%">
            <h2 class="py-3">Registration</h2>
            <p>Tation argumentum et usu, dicit viderer evertitur te has. Eu dictas concludaturque usu, facete detracto
              patrioque an per, lucilius pertinacia eu vel.

            </p>
          </div>
        </div>
      </div>
      <div class="col-md-8 py-5 background-card">
        <h4 class="pb-4" style="    font-weight: 500 !important;">***Please fill with your details***</h4>

        <form [formGroup]="classNewForm">

          <div class="form-row">
            <div class="form-group col-md-6">

              <select [ngClass]="{ 'is-invalid': classNewForm.get('class_id').value === 'default' && (classNewForm.controls['class_id'].dirty || classNewForm.controls['class_id'].touched) }" formControlName="class_id" id="inputState1" class="form-control">
                <option [selected]="classNewForm.get('class_id').value === 'default'" [ngValue]="'default'">Select Your Class</option>
                <ng-container *ngFor="let itemClass of allClass">
                  <option [selected]="classNewForm.get('class_id').value === itemClass._id" [ngValue]="itemClass._id">{{itemClass.name}}</option>
                </ng-container>

              </select>
              
              <div *ngIf="classNewForm.get('class_id').value === 'default'" class="invalid-feedback">Oops, you missed this one.</div>
            </div>
            <div class="form-group col-md-6">
              <input  [ngClass]="{ 'is-invalid': classNewForm.controls['name'].invalid && (classNewForm.controls['name'].dirty || classNewForm.controls['name'].touched)}" formControlName="name" id="Full Name" name="Full Name" placeholder="Your Name" class="form-control"
                type="text">
                <div *ngIf="classNewForm.controls['name'].invalid && (classNewForm.controls['name'].dirty || classNewForm.controls['name'].touched)" class="invalid-feedback">Oops, you missed this one.</div>
            </div>


            <div class="form-group col-md-6">
              <input  [ngClass]="{ 'is-invalid': classNewForm.controls['email'].invalid && (classNewForm.controls['email'].dirty || classNewForm.controls['email'].touched)}"  formControlName="email" type="email" class="form-control" id="inputEmail4" placeholder="Email">
              <div class="invalid-feedback">Oops, you missed this one.</div>
            </div>
            <div class="form-group col-md-6">
              <input [ngClass]="{ 'is-invalid': classNewForm.controls['contact_number'].invalid && (classNewForm.controls['contact_number'].dirty || classNewForm.controls['contact_number'].touched)}"  formControlName="contact_number" id="Mobile No." name="Mobile No." placeholder="Mobile No."
                class="form-control" required="required" type="text">
                <div class="invalid-feedback">Oops, you missed this one.</div>
            </div>







          </div>
          <div class="form-row">
            <!-- <div class="form-group col-md-12">
              <label for="w">Sele Current Knowledge Of following</label>
            </div> -->
          </div>

          <div class="form-row">

            <!-- <div class="form-group col-md-6">
              <label for="jskn">Javascript Knowledge</label>
              <div class="input-group mb-3">
                <div class="btn-group btn-group-toggle input-group mb-3" data-toggle="buttons" id="jskn">
                  <label class="btn btn-light"  [ngClass]="{'active':jsValue==1}">
                    <input [value]="jsValue==1" (change)="getJs($event,1)" type="radio"  id="jsOption1"
                      autocomplete="off"> 1
                  </label> &nbsp;
                  <label class="btn btn-light"  [ngClass]="{'active':jsValue==2}">
                    <input [value]="jsValue==2"  (change)="getJs($event,2)"  type="radio"  id="jsOption2"
                      autocomplete="off"> 2
                  </label> &nbsp;
                  <label class="btn btn-light"  [ngClass]="{'active':jsValue==3}">
                    <input [value]="jsValue==3" (change)="getJs($event,3)"  type="radio"  id="jsOption3"
                      autocomplete="off"> 3
                  </label> &nbsp;
                  <label class="btn btn-light"  [ngClass]="{'active':jsValue==4}">
                    <input [value]="jsValue==4"  (change)="getJs($event,4)"  type="radio"  id="jsOption4"
                      autocomplete="off"> 4
                  </label> &nbsp;
                  <label class="btn btn-light"  [ngClass]="{'active':jsValue==5}">
                    <input [value]="jsValue==5"  (change)="getJs($event,5)"  type="radio"  id="jsOption5"
                      autocomplete="off"> 5
                  </label> &nbsp;
                </div>
              </div>

            </div> -->
            <!-- <div class="form-group col-md-6">
              <label for="jskn">Java Knowledge</label>
              <div class="input-group mb-3">
                <div class="btn-group btn-group-toggle input-group mb-3" data-toggle="buttons" id="jskn">
                  <label class="btn btn-light" [ngClass]="{'active':javaValue==1}">
                    <input [value]="javaValue==1"  (change)="getJava($event,1)" type="radio"  id="jsOption1"
                      autocomplete="off"> 1
                  </label> &nbsp;
                  <label class="btn btn-light" [ngClass]="{'active':javaValue==2}">
                    <input [value]="javaValue==2" (change)="getJava($event,2)"  type="radio"  id="jsOption2"
                      autocomplete="off"> 2
                  </label> &nbsp;
                  <label class="btn btn-light"  [ngClass]="{'active':javaValue==3}">
                    <input [value]="javaValue==3" (change)="getJava($event,3)"  type="radio"  id="jsOption3"
                      autocomplete="off"> 3
                  </label> &nbsp;
                  <label class="btn btn-light"  [ngClass]="{'active':javaValue==4}">
                    <input [value]="javaValue==4" (change)="getJava($event,4)"  type="radio"  id="jsOption4"
                      autocomplete="off"> 4
                  </label> &nbsp;
                  <label class="btn btn-light"  [ngClass]="{'active':javaValue==5}">
                    <input [value]="javaValue==5" (change)="getJava($event,5)"  type="radio"  id="jsOption5"
                      autocomplete="off"> 5
                  </label> &nbsp;
                </div>
              </div>

            </div> -->
          </div>
          <!-- <div class="form-row">
                        <div class="form-group">
                            <div class="form-group">
                                <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
                                  <label class="form-check-label" for="invalidCheck2">
                                    <small>By clicking Submit, you agree to our Terms & Conditions, Visitor Agreement and Privacy Policy.</small>
                                  </label>
                                </div>
                              </div>
                    
                          </div>
                    </div> -->

          <div class="form-row mt-5">
            <div class="container">
              <div class="row">
                <div class="col text-center">
                  <button [disabled]="(jsValue !=0) || (javaValue !=0) || !classNewForm.valid" type="button" class="btn btn-success" (click)="submitConfirm()">Submit</button>
                </div>
              </div>
            </div>
          </div>

        </form>

      </div>
    </div>
  </div>
</section>