<div class="container">
    <div class="d-flex justify-content-center">
    <div class="row">
        
        <div class="card" style="width: 60rem;">
            <div class="card-header">
               <b>Profile Settings</b>
            </div>
            <div class="card-body">
                <div class="container rounded bg-white">
                    <div class="row">
<form [formGroup]="mentorForm">
                        <div class="p-3 py-5">
                            <!-- <div class="d-flex justify-content-between align-items-center mb-3">
                                <h4 class="text-right">Profile Settings</h4>
                            </div> -->
                            <div class="row mt-2">
                                <div class="col-md-6"><label class="labels">First Name</label>
                                    <input type="text"  formControlName="fName"
                                        class="form-control"  value=""></div>
                                <div class="col-md-6"><label class="labels">Last Name</label>
                                    <input type="text"  formControlName="lName"
                                        class="form-control" value="" ></div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-6"><label class="labels">Phone Number</label>
                                    <input type="text"  formControlName="contactNo"
                                        class="form-control"></div>
                                <div class="col-md-6"><label class="labels">Bank Account Number</label>
                                    <input type="text"  formControlName="bankAccount" class="form-control" 
                                         value=""></div>
                                <div class="col-md-6 mt-3"><label class="labels">Bank Name</label>
                                    <input  formControlName="bankName" type="text"
                                        class="form-control" ></div>
                                <div class="col-md-6  mt-3"><label class="labels">Your Name In Bank Account</label>
                                    <input  formControlName="nameInBank"
                                        type="text" class="form-control"></div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-6"><label class="labels">Email</label>
                                    <input formControlName="email"  type="text"
                                        class="form-control"></div>
                            </div>
                            <div class="mt-5 text-center">
                                <button [disabled]="!(mentorForm.valid)"  (click)="updateChagesConfirm()" class="btn btn-primary profile-button"
                                    type="button">Save Profile</button></div>
                        </div>
                        <hr>
<form [formGroup]="mentorFormPassword">
    <div class="card" style="width: 25rem;">
        <div class="card-body">
            <div class="d-flex justify-content-center">
                <h2 class="card-title ">Update Password</h2>
            </div>
          
         <div class="container">
            <div class="row mt-3">
                <div class="col-md-8"><label class="labels">New Password</label>
                    <input formControlName="password"  type="password"
                        class="form-control"></div>
            </div>
            <div class="row mt-3">
                <div class="col-md-8"><label class="labels">Confirm Password</label>
                    <input formControlName="conf_password"  type="password"
                        class="form-control"></div>
            </div>
            <div class="row mt-5 ml-1">
                <button [disabled]="!(mentorFormPassword.valid)"  (click)="updatePasswordConfirm()" class="btn btn-primary profile-button"
                type="button">Update Passowrd</button>
            </div>
           
         </div>
        </div>
      </div>
</form>
                        

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>