<div class="container">
  <div class="row">
    <div class="card" style="width: 100rem;">
      <div class="card-body">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Class ID</th>
              <th scope="col">Language</th>
              <th scope="col">Duration</th>
              <th scope="col">Number Of Weeks</th>
              <th scope="col">Status</th>
              <!-- <th scope="col">Action</th> -->
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of allClass">
              <td>{{item.name}}</td>
              <td>{{item.class_id}}</td>
              <td>{{item.language}}</td>
              <td> {{item.duration}}</td>
              <td>{{item.number_of_weeks}}</td>
              <td>
                
                   <b  [style.color]="item?.active ? '#11bb1e':''" >{{item?.active ? 'Active':'Inactive'}}</b> 
              </td>
              <!-- <td>
                <button (click)="editClass(item)" type="button" class="btn btn-success mr-2"><i
                    class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                <button (click)="removeConfirm(item._id)" type="button" class="btn btn-danger"><i class="fa fa-trash"
                    aria-hidden="true"></i></button>
              </td> -->
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>